{% extends "base_generic.html" %}

{% block content %}
  {% load permission_tags %}
  <h1>Title: {{ game.title }}</h1>

  <p><strong>Publisher:</strong> {{ game.publisher }}</p>
  <p><strong>Genre:</strong> {{ game.genre }}</p>
  <p><strong>Plataform:</strong> {{ game.platform }}</p>
  <p><strong>Owenrs:</strong></p>
      <ul>
        {% for own in game.owners.all %}
          <li>{{ own }}</li>
        {% endfor %}
      </ul>
  <p><strong>Cover Img:</strong><img src= "{{game.cover_img}}"></p>

  {% if user.is_authenticated %}
      <a href="{% url 'add_game_collection' pk=game.id %}">Add Game Collection</a>
  {% endif %}


  {% if user|has_role:'admin' %}
    <a href="{% url 'update_game' pk=game.id %}">Update</a>
    <a href="{% url 'delete_game' pk=game.id %}">Delete</a>
  {% endif %}

{% endblock %}
