{% extends "base_generic.html" %}

{% block content %}
    <h1>Game List</h1>

    {% if game_list %}
    <ul>

      {% for game in game_list %}
      <li>
        <a href="{{ game.get_absolute_url }}">{{ game.title }}</a> ({{game.publisher}})
          <ul>
            <li>Owenrs</li>
              <ul>
                {% for own in game.owners.all %}
                  <li>{{ own }}</li>
                {% endfor %}
              </ul>
          </ul>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no games in the app.</p>
    {% endif %}

    {% if user.is_authenticated %}
      <a href="{% url 'add_steam' %}">Get My Steam Games</a>
    {% endif %}
{% endblock %}
